<div class="footer">
  <div class="fotter__container">
    <div class="newsletter__form">
      <div class="footer-signup__header">
        <h4>DOWN FOR MORE? WE GOT you.</h4>
        <p>All the latest product drops, limited offers, in-store event info-straight to your inbox.</p>
      </div>
      <div class="footer-signup__fields">
        <div>
          <div class="footer-signup__input">
            <div class="footer-signup__text-input">
              <div class="text-input__wrapper">
                <input name="email" placeholder="EMAIL" type="email" class="text-input__el p2">
              </div> 
              <!---->
            </div> 
            <button type="button" aria-label="I want in" class="footer-signup__button">
              <span class="button__el">I want in<span class="material-symbols-sharp">arrow_right_alt</span></span>
            </button>
          </div> 
          <div class="footer-signup__input-error">
            <span></span>
          </div>
        </div> 
        <div>
          <div class="footer-signup__input">
            <div class="footer-signup__text-input">
              <div class="text-input__wrapper">
                <input name="phone" placeholder="PHONE" type="number" class="text-input__el p2">
              </div> 
              <!---->
            </div> 
            <button type="button" aria-label="I want in" class="footer-signup__button btn--with-icon btn--b1">
              <span class="button__el">I want in<span class="material-symbols-sharp">arrow_right_alt</span></span>
            </button>
          </div> 
          <div class="footer-signup__input-error">
            <span></span>
          </div>
        </div>
      </div>
      <div class="footer-signup__disclaimer">
        <p>
          By subscribing to <strong>Fragrance by B.Atum</strong> you consent to receive recurring automated
           promotional and personalized marketing messages (e.g. cart reminders) via automated technology including 
           email and text messages. Consent is not a condition of any purchase. 
           View <a href="/pages/terms-of-use" title="Terms of Use">Terms of Use</a> & 
           <a href="/pages/privacy-policy" title="Privacy Policy">Privacy Policy</a>. 
        </p>
        <p>
          Message and data rates may apply. Reply HELP for help or STOP to opt-out. 
        </p>
      </div>
      <div class="footer__socials-wrapper">
        <h1>B.Atum</h1>
        <p>FOLLOW FRAGRANCE BY B.Atum</p>
      </div>
    </div>
  </div>
</div>